#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.eachElement img{
  height: 140px;
  width: 150px;
  border-radius: 2em;
}
.Search h1{
  font-size: 70px;
  color: rgb(0, 70, 18);
  border-bottom: 7px solid rgb(158, 244, 164);
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 1rem; 
  gap: 30px;
  background-color: rgb(188, 184, 251);
  border: 3px solid rgb(197, 130, 130);
  border-radius: 2em;
}
.totalCal{
  display: flex;
  gap: 30px;
}
.is-info{
  background-color: rgb(7, 236, 41);
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 2em;
}
.plus{
  background-color: rgb(24, 223, 71);
  border: 2px solid rgb(72, 0, 255);
}
p{
  font-size: 20px;
}
input{
  height: 20px;
  width: 200px;
}
#SearchBox{
  width: 500px;
  height: 30px;
  padding: 20px;
  margin-bottom: 30px;
  border: 3px solid rgba(34, 255, 0, 0.33);
  color: rgb(47, 0, 255);
  font-size: 20px;
}